{{!-- ============= Приклад реалізації ============= --}}

{{#each this}}
<div class='photo-card'>
    <a href='{{largeImageURL}}'>
        <img src='{{webformatURL}}' width='300' height='300' alt='{{tags}}' loading='lazy' />
    </a>
    <div class='info'>
        <p class='info-item'>
            Likes
            <b>{{likes}}</b>
        </p>
        <p class='info-item'>
            Views
            <b>{{views}}</b>
        </p>
        <p class='info-item'>
            Comments
            <b>{{comments}}</b>
        </p>
        <p class='info-item'>
            Downloads
            <b>{{downloads}}</b>
        </p>
    </div>
</div>
{{/each}}

{{!-- ============= Приклад реалізації ============= --}}